<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Brands</h3>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="brand-form">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputBrandName">Brand Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputBrandName" name="brandName" placeholder="enter brand name"
                               type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputBrandCategory">Category</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputBrandCategory" name="brandCategory" placeholder="enter category"
                               type="text">
                    </div>
                </div>
                <button class="btn btn-primary" id="add-brand" type="button">Add</button>
                &nbsp;
                <button class="btn btn-primary" id="refresh-data" type="button">Refresh</button>
                &nbsp;
                <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Brand Category</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

    <!-- Brand Edit Modal -->
    <div class="modal" id="edit-brand-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand Details</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="brand-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBrandName">Brand Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="brandName" placeholder="enter name" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBrandCategory">Brand Category</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="brandCategory" placeholder="enter age" type="text">
                            </div>
                        </div>
                        <input name="updateId" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-brand" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Brand Upload Modal -->
    <div class="modal" id="upload-brand-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Brand</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brand-file">
                        <input class="custom-file-input" id="brandFile" type="file">
                        <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/brand.tsv}">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" id="cancel-inupload" type="button">Cancel
                    </button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brand.js}"/>
</script>

</body>	

</html>