<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Welcome to Inventory</h3>
    <div class="row">
        <div class="col-12">
            &nbsp;
            <button class="btn btn-primary" id="refresh-data" type="button">Refresh</button>
            &nbsp;
            <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="inventory-table">
                <thead>
                <tr>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Brand Category</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

    <div class="modal" id="edit-inventory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Inventory Details</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="inventory-edit-form">
                        <!--<div class="form-group">
                            <label for="inputProductName" class="col-sm-2 col-form-label">Product Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="inputProductName" placeholder="Enter product name">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="barcode" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="quantity" placeholder="Enter Quantity" type="text">
                            </div>
                        </div>
                        <input name="id" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-inventory" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="upload-inventory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Inventory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="inventory-file">
                        <input class="custom-file-input" id="inventoryFile" type="file">
                        <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/inventory.tsv}">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" id="cancel-inupload" type="button">Cancel
                    </button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventory.js}"/>
</script>

</body>

</html>