<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Admin > Users</h3>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="user-form">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputEmail">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputEmail" name="email" placeholder="enter email" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputPassword">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputPassword" name="password" placeholder="enter password"
                               type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputRole">Role</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputRole" name="role" placeholder="enter role" type="text">
                    </div>
                </div>
                <button class="btn btn-primary" id="add-user" type="button">Add</button>
                &nbsp;
                <button class="btn btn-primary" id="refresh-data" type="button">Refresh</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="user-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Romil</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Romil Jain</td>
                    <td>role1</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rajul Jain</td>
                    <td>role2</td>
                    <td>Edit | Delete</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Anaisha Jain</td>
                    <td>role3</td>
                    <td>Edit | Delete</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/user.js}"/>
</script>

</body>	

</html>